# Bonus: Temperature Analysis I

In [23]:
import pandas as pd
from datetime import datetime as dt

In [24]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head(50)

        station        date    prcp  tobs
0   USC00519397  2010-01-01 0.08000    65
1   USC00519397  2010-01-02 0.00000    63
2   USC00519397  2010-01-03 0.00000    74
3   USC00519397  2010-01-04 0.00000    76
4   USC00519397  2010-01-06     nan    73
5   USC00519397  2010-01-07 0.06000    70
6   USC00519397  2010-01-08 0.00000    64
7   USC00519397  2010-01-09 0.00000    68
8   USC00519397  2010-01-10 0.00000    73
9   USC00519397  2010-01-11 0.01000    64
10  USC00519397  2010-01-12 0.00000    61
11  USC00519397  2010-01-14 0.00000    66
12  USC00519397  2010-01-15 0.00000    65
13  USC00519397  2010-01-16 0.00000    68
14  USC00519397  2010-01-17 0.00000    64
15  USC00519397  2010-01-18 0.00000    72
16  USC00519397  2010-01-19 0.00000    66
17  USC00519397  2010-01-20 0.00000    66
18  USC00519397  2010-01-21 0.00000    69
19  USC00519397  2010-01-22 0.00000    67
20  USC00519397  2010-01-23 0.00000    67
21  USC00519397  2010-01-24 0.01000    71
22  USC00519397  2010-01-25 0.00000    67
23  USC00519397  2010-01-26 0.04000    76
24  USC00519397  2010-01-27 0.12000    68
25  USC00519397  2010-01-28 0.00000    72
26  USC00519397  2010-01-30     nan    70
27  USC00519397  2010-01-31 0.03000    67
28  USC00519397  2010-02-01 0.01000    66
29  USC00519397  2010-02-03     nan    67
30  USC00519397  2010-02-04 0.01000    69
31  USC00519397  2010-02-05 0.00000    67
32  USC00519397  2010-02-06 0.00000    67
33  USC00519397  2010-02-07 0.00000    64
34  USC00519397  2010-02-08 0.00000    69
35  USC00519397  2010-02-09 0.00000    73
36  USC00519397  2010-02-11 0.00000    73
37  USC00519397  2010-02-12 0.02000    69
38  USC00519397  2010-02-13 0.01000    69
39  USC00519397  2010-02-14 0.00000    69
40  USC00519397  2010-02-15 0.00000    71
41  USC00519397  2010-02-16 0.00000    61
42  USC00519397  2010-02-17 0.00000    69
43  USC00519397  2010-02-19     nan    63
44  USC00519397  2010-02-20 0.03000    64
45  USC00519397  2010-02-21 0.00000    65
46  USC00519397  2010-02-22 0.00000    67
47  USC00519397  2010-02-23 0.00000    68
48  USC00519397  2010-02-24 0.00000    65
49  USC00519397  2010-02-25 0.00000    76

In [25]:
# Convert the date column format from string to datetime
df['date']=df['date'].astype('datetime64[ns]')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [26]:
# Set the date column as the DataFrame index
date_df = df.set_index(['date'])
date_df

                station    prcp  tobs
date
2010-01-01  USC00519397 0.08000    65
2010-01-02  USC00519397 0.00000    63
2010-01-03  USC00519397 0.00000    74
2010-01-04  USC00519397 0.00000    76
2010-01-06  USC00519397     nan    73
...                 ...     ...   ...
2017-08-19  USC00516128 0.09000    71
2017-08-20  USC00516128     nan    78
2017-08-21  USC00516128 0.56000    76
2017-08-22  USC00516128 0.50000    76
2017-08-23  USC00516128 0.45000    76

[19550 rows x 3 columns]

In [27]:
# Drop the date column - already dropped

### Compare June and December data across all years

In [28]:
from scipy import stats

In [29]:
# Filter data for desired months
june_info = date_df[date_df.index.month == 6]
december_info = date_df[date_df.index.month == 12]

In [30]:
# Identify the average temperature for June
june_avg = june_info['tobs'].mean()

print(f'The average temp in June is {june_avg}')

The average temp in June is 74.94411764705882

In [31]:
# Identify the average temperature for December
dec_avg = december_info['tobs'].mean()

print(f'The average temp in December is {dec_avg}')

The average temp in December is 71.04152933421226

In [32]:
# Create collections of temperature data
dec_collection = december_info['tobs']
june_collection = june_info['tobs']

In [34]:
# Run paired t-test

pd.set_option('display.float_format', lambda x: '%.5f' % x)
stats.ttest_ind(june_collection, dec_collection)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

# The low p-value suggests that I can reject the null hypothesis, therefore there is statistical significance in the variance of the two groups of data. Unpaired t-test would be best for this anaysis since we're looking at the means of two independent samples (rather than the means of the same group under separate scenarios).